/* #canvasDiv {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
} */

canvas {
    background-color: rgb(77, 77, 77);
    border: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}